<%- include('./partials/main.header.ejs') %>
<style>
  /* input-group-text 클래스를 갖는 input 요소의 부모인 .datePickerContainer에 flex 스타일 추가 */
  .datePickerContainer {
    display: flex;
  }
  /* input-group-text 클래스를 갖는 input 요소가 가능한 최대 가로 공간을 차지하도록 설정 */
  .input-group-text {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }
</style>
<div style="height: 50px"></div>

<div class="container">
  <div class="col-3" p-3>
    <h3>펫시터 등록하기</h3>
    <div class="mb-3">
      <label for="title" class="form-label">제목</label>
      <input
        class="input-group-text"
        type="text"
        id="titleInput"
        placeholder="제목을 입력해 주세요."
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">소개글</label>
      <textarea class="form-control" id="contentInput" rows="4"></textarea>
    </div>
    <div class="datePickerContainer">
      <label for="able_date" class="form-label">예약가능 날짜</label>
      <input
        class="dateSelector input-group-text flatpickr-input"
        type="text"
        name="reserve_date"
        placeholder="날짜를 선택하세요"
        readonly="readonly"
      />
    </div>
    <div class="mb-3">
      <label for="experience" class="form-label">반려동물을 키운 경험</label>
      <input class="input-group-text" type="text" id="experienceInput" />
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">도/시/군</label>
      <input class="input-group-text" type="text" id="stateInput" placeholder="예시)강원도" />
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">시/군</label>
      <input class="input-group-text" type="text" id="cityInput" placeholder="예시)춘천시" />
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">상세주소</label>
      <input class="input-group-text" type="text" id="addressInput" placeholder="공지로 591" />
    </div>
  </div>
</div>
<button id="post_btn" type="submit" class="btn btn-secondary post_btn">등록하기</button>

<%- include('./partials/main.footer.ejs') %>
