<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <title>Cat lovers</title>
    <!--     Fonts and icons     -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    <!-- 날짜 지정 캘린더 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
      * {
        font-family: 'IBM Plex Sans KR', sans-serif;
      }
    </style>
  </head>
  <!-- ~~ 네비게이션바 -->
  <body>
    <nav
      class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
    >
      <div class="container-fluid ps-2 pe-0">
        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="../pages/dashboard.html">
          Cat Lovers
        </a>
        <button
          class="navbar-toggler shadow-none ms-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center me-2 active"
                aria-current="page"
                href="../pages/dashboard.html"
              >
                <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                시터 검색
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2" href="../pages/profile.html">
                <i class="fa fa-user opacity-6 text-dark me-1"></i>
                이용 후기
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2" href="../pages/sign-up.html">
                <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                채팅 문의
              </a>
            </li>
          </ul>
          <ul class="navbar-nav d-lg-flex d-none">
            <li class="nav-item d-flex align-items-center">
              <a
                class="btn btn-secondary btn-sm mb-0 me-2"
                style="box-shadow: none"
                target="_blank"
                href=""
                >내 정보 / 로그인</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="btn btn-sm mb-0 me-1 btn-outline-secondary">예약정보 / 회원가입</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ~~메인 이미지 -->
    <div class="main-img d-flex justify-content-center" style="position: relative">
      <img
        style="width: 1300px"
        src="https://github.com/kimyungyeom/TeamProject_A-1/blob/dev/src/views/img/Group%201cat.png?raw=true"
      />
      <h1
        class="main_img_txt"
        style="position: absolute; top: 50%; left: 20%; color: rgb(90, 90, 90)"
      >
        믿고 맡기는 캣시터
      </h1>
    </div>
  </body>
</html>
