<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
  <title>Cat lovers</title>
  <!--     Fonts and icons     -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;400;500&display=swap"
    rel="stylesheet" />

  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
  <!-- 날짜 지정 캘린더 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <style>
    * {
      font-family: 'IBM Plex Sans KR', sans-serif;
    }
  </style>
</head>
<!-- ~~ 네비게이션바 -->


<body>
  <nav
    class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid ps-2 pe-0">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="/">
        Cat Lovers
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse col" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <label class="form-label">시터 검색</label>
              <div class="input-group input-group-outline">
                <input type="text" id="search" class="form-control" onkeyup="enter()">
              </div>
            </div>
          </li>
        </ul>


        <ul class="navbar-nav d-lg-flex d-none">
          <% if (!user) { %>
            <li class="nav-item">
              <a href="/signup" class="btn btn-sm mb-0 me-1 btn-outline-secondary">회원가입</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="btn btn-sm mb-0 me-1 btn-outline-secondary">로그인</a>
            </li>
            <% }else{ %>
              <% if ( user.user_level === 2 ) { %>
              <li class="nav-item d-flex align-items-center">
                <a class="btn btn-secondary btn-sm mb-0 me-2" style="box-shadow: none" target="_blank" href="/reserve_list/sitter">
                  시터 예약목록</a>
              </li>
              <% }else{ %>
                <li class="nav-item d-flex align-items-center">
                  <a class="btn btn-secondary btn-sm mb-0 me-2" style="box-shadow: none" target="_blank" href="/store/post">
                    시터신청</a>
                </li>
              <% } %>
              <li class="nav-item d-flex align-items-center">
                <a class="btn btn-secondary btn-sm mb-0 me-2" style="box-shadow: none" target="_blank" href="/login">
                  내 정보 </a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a href="/reserve_list/user" class="btn btn-sm mb-0 me-2 btn-outline-secondary">예약정보</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <div class="temp nav-link me-2" type="button" onclick="test()">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  로그아웃
                </div>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    const input = document.querySelector('#search');
    async function test()
    {
      try
      {
        const response = await axios.post('/api/auth/logout');
        window.location.href = '/store';
      } catch (e)
      {
        console.error(e);
      }
    }

    function enter()
    {
      if (window.event.keyCode === 13)
      {

        window.location.href = `/search?search=${input.value}`;
      }
    }


  </script>