<div class="row">
  <div class="col-md-7 mt-4">
    <div class="card border">
      <div class="card-header pb-0 px-3">
        <h6 class="mb-0">펫시터님을 위해 소중한 리뷰를 남겨주세요!</h6>
      </div>
      <div class="card-body pt-4 p-3">
        <ul class="list-group">
          <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
            <div class="d-flex flex-column">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                style="resize: none"
                rows="4"
                cols="100"
              ></textarea>
            </div>
          </li>
          <div class="d-flex">
            <select class="form-select-padding-x: 3" aria-label="Default select example">
              <option selected>리뷰 평점 선택</option>
              <option value="1">1점</option>
              <option value="2">2점</option>
              <option value="3">3점</option>
              <option value="4">4점</option>
              <option value="5">5점</option>
            </select>
            <div class="ms-auto text-end">
              <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
                ><i class="material-icons text-sm me-2">reply</i>reply</a
              >
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
