    <div class="row">
      <div class="col-md-7 mt-4">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">펫시터님을 위한 리뷰공간!</h6>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <% reviews.forEach((review) => { %>
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">
                      <%= review.user.name %> 평점: <%= review.rating %>
                    </h6>
                    <span class="mb-2 text-xs">
                      <span class="text-dark font-weight-bold ms-sm-2"><%= review.comment %></span>
                    </span>
                  </div>
                </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>